body {
    margin: 0;
   background-color: #f3eee5;
    font-family: 'juliusregular';
    width: 100%;
    height: 412px;
    background-image: url(./images/plage.jpg);
    background-size: cover;
    
}

header {
    background-image: url(./images/fond.jpg);
    width: 100%;
    height: 163px;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content:center;
      padding-top: 10px;
      
  }

  .logo {
    width: 120px;
    height: auto;
    margin: 0 0px;

    }


    .fleche {
      margin: 1px;
      font-size: 40px;
      position: absolute;
    }

    header a {
        text-decoration: none;
        color: #6a3725;
        padding-left: 10px;
    }

    form p {
        margin: 0;
        border-radius: 25px;
        border: black solid 1px;
        background-image: url(./images/fond.jpg);
        height: 21px;
        width: 150px;
        margin-left: 687px;

        
    }

form {
     text-align: center;
     margin-top: 10px;
     font-family: 'juliusregular';
     
    }

    ::placeholder {
        text-align: center;
    }

    input {
      width: 200px;
    }

    .inscription {
      width: 140px;
      margin-bottom: 10px;
      border: black solid 1px;
      color: #6a3725;
      background-image: url(./images/fond.jpg);
      border-radius: 20px;
    }
  

    footer {
        background-image: url(./images/fond.jpg);
        width: 100%;
        height: 163px;
        background-size: cover;
        position: absolute;
        font-family: "juliusregular" ;
       font-weight: bold;
       margin-top: -4px;
    
      }


      .contact {
        position: absolute;
        left: 0;
        padding-top: 20px;
        padding-left: 40px;
        color: #6a3725;
      }

      #location {
        position: absolute;
        font-size: 35px;
        bottom: 0;
        left: 0;
        padding-left: 13px;
        padding-bottom: 25px;
        color: #6a3725;
      }

      
      .reseauxsociaux {
        text-align: center;
        padding-top: 70px;
        color: #6a3725;
        
      
      }
      
      .reseauxsociaux a {
        color: #6a3725 ;
        font-size: 25px;
        text-decoration: none;
      }
      
      .pdf {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 20px;
        padding-right: 20px;
        color: #6a3725;
        font-size: small;
        
      }
      
      .pdf a {
        color: #6a3725;
        text-decoration: none;
      }




      @font-face {
        font-family: "rieslingregular";
        src: url(./FONTS/riesling-webfont.woff2) format("woff2"),
          url(./FONTS/riesling-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face {
        font-family: "juliusregular";
        src: url(./FONTS/juliussansone-regular-webfont.woff2) format("woff2"),
          url(./FONTS/juliussansone-regular-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
      }
      