header {background-image: url(./images/fond.jpg);
  width: 100%;
  height: 163px;
  background-size: cover;
}
body {
  margin: 0;
  font-family: 'juliusregular';
  background-color: #f3eee5;
  width: 100%;
  height: 412px;
  background-image: url(./images/plage.jpg);
  background-size: cover;
    
}
.container {
  display: flex;
  justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.fleche { margin: 1px;
  font-size: 40px;
  position: absolute;
}

.logo {width: 120px; 
}


.Enregistrer {margin: 50px;
  background-image: url(./images/fond.jpg);
  width: 150px;
  border-radius: 50px;

}

form { text-align: center;
  margin-top: 40px;
  
}

.nmdp {border-radius: 50px;
  padding: 5px 100px 5px 100px;
  background-color: white;
  border: 1px solid black;
  background-image: url(./images/fond.jpg);

}

::placeholder { text-align: center;
}
input {
  width: 300px;
}

footer {
        background-image: url(./images/fond.jpg);
        width: 100%;
        height: 145px;
        background-size: cover;
        position: absolute;
        bottom: 0;
        font-family: "juliusregular" ;
       font-weight: bold;
       margin-top: 370px;
      }
 
 
      .contact {
        position: absolute;
        left: 0;
        padding-top: 20px;
        padding-left: 40px;
        color: #6a3725;
      }
 
      #location {
        position: absolute;
        font-size: 35px;
        bottom: 0;
        left: 0;
        padding-left: 13px;
        padding-bottom: 25px;
        color: #6a3725;
      }
 
     
      .reseauxsociaux {
        text-align: center;
        padding-top: 70px;
        color: #6a3725;
       
     
      }
     
      .reseauxsociaux a {
        color: #6a3725 ;
        font-size: 25px;
        text-decoration: none;
      }
     
      .pdf {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 20px;
        padding-right: 20px;
        color: #6a3725;
        font-size: small;
       
      }
     
      .pdf a {
        color: #6a3725;
        text-decoration: none;
      }
 
      @font-face {
        font-family: "juliusregular";
        src: url(./FONTS/juliussansone-regular-webfont.woff2) format("woff2"),
          url(./FONTS/juliussansone-regular-webfont.woff) format("woff");
        font-weight: normal;
        font-style: normal;
      }
     